/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

/* HEADER */
header {
  width: 100%;
  top: 0;
  z-index: 9;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

header .sub-menu {
  top: 10px;
  right: 0;
  position: absolute;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: "";
  background-color: #e5e5e5;
  width: 1px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  color: #656565;
  font-size: 12px;
  padding: 11px 16px;
  display: block;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  background-color: #fff;
  font-size: 12px;
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  height: 24px;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  position: absolute;
  transition: 0.4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  bottom: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  display: flex;
}

header .main-menu .item {
}

header .main-menu .item .item__name {
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 10px 20px 34px 20px;
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  left: 0;
  position: fixed;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li > h4 {
  color: #fff;
  font-size: 14px;
  padding: 3px 0 12px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  color: #999;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  background-image: url("/resources/main_menu_pattern.jpg");
  font-size: 12px;
  padding: 26px 0;
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  top: 132px;
  right: 12px;
  position: absolute;
}

header .badges .badge {
  cursor: pointer;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("/resources/visual_bg.jpg");
  background-position: center;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  top: 88px;
  left: -10px;
  position: absolute;
}

.visual .title .btn {
  top: 259px;
  left: 173px;
  position: absolute;
}

.visual .cup1.image {
  bottom: 0;
  right: -47px;
  position: absolute;
}

.visual .cup1.text {
  top: 38px;
  right: 171px;
  position: absolute;
}

.visual .cup2.image {
  bottom: 0;
  right: 162px;
  position: absolute;
}

.visual .cup2.text {
  top: 321px;
  right: 416px;
  position: absolute;
}

.visual .spoon {
  bottom: 0;
  left: 275px;
  position: absolute;
}

.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  background-color: #333;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.notice .notice-line .bg-right {
  background-color: #f6f5ef;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  align-items: center;
  display: flex;
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-container .swiper-slide {
  height: 62px;
  align-items: center;
  display: flex;
}

.notice .notice-line .inner__left .swiper-container .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  cursor: pointer;
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height 0.4s;
  overflow: hidden;
}

.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
  position: absolute;
}

.notice .promotion .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  position: flex;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("/resources/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("/resources/promotion_slide_pager_on.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  cursor: pointer;
  width: 42px;
  height: 42px;
  top: 300px;
  z-index: 1;
  border: 2px solid #333;
  border-radius: 50%;
  outline: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  transition: 0.4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  color: #fff;
  background-color: #333;
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left {
  background-color: #272727;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.rewards .bg-right {
  background-color: #d5c798;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

.rewards .inner {
  background-image: url("/resources/rewards.jpg");
  height: 241px;
}

.rewards .btn-group {
  width: 250px;
  bottom: 24px;
  right: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex: 1;
}

/* YOUTUBE VIDEO */
.youtube {
  background-color: #333;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.youtube .youtube__area {
  width: 1920px;
  top: 50%;
  left: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
  margin-left: calc(1920px / -2);
  position: absolute;
}

.youtube .youtube__area::before {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  content: "";
  display: block;
}

.youtube .youtube__cover {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("/resources/video_cover_pattern.png");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#player {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.youtube .inner {
  height: inherit;
}

.youtube .floating1 {
  top: 50px;
  left: 0;
  position: absolute;
}

.youtube .floating2 {
  top: 350px;
  left: 150px;
  position: absolute;
}

/* SEASON PRODUCT */
.season-product {
  background-image: url("/resources/season_product_bg.jpg");
}

.season-product .inner {
  height: 400px;
}

.season-product .floating3 {
  top: -200px;
  right: 0;
  position: absolute;
}

.season-product .text-group {
  top: 110px;
  right: 100px;
  position: absolute;
}

.season-product .text-group .title {
  margin-bottom: 10px;
}

.season-product .text-group .description {
  margin-bottom: 15px;
}

/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url("/resources/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  top: 110px;
  left: 0;
  position: absolute;
}

.reserve-coffee .text-group {
  top: 124px;
  left: 208px;
  position: absolute;
}

.reserve-coffee .product {
  top: 0;
  right: 0;
  position: absolute;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("/resources/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  width: 362px;
  margin-left: 100px;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}

/* RESERVE STORE */
.reserve-store {
  background-image: url("/resources/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.reserve-store .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}

.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  position: absolute;
  transition: 1s;
}

.reserve-store .medal .front {
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.find-store {
  background-image: url("/resources/find_store_bg.jpg");
}

.find-store .inner {
  height: 400px;
}

.find-store .texture1 {
  top: 0;
  left: 400px;
  position: absolute;
}

.find-store .texture2 {
  bottom: 0;
  right: 0;
  position: absolute;
}

.find-store .picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.find-store .picture1 {
  top: -60px;
  left: 0;
}

.find-store .picture2 {
  top: 150px;
  left: 250px;
}

.find-store .text-group {
  top: 120px;
  left: 550px;
  position: absolute;
}

.find-store .text-group .title {
  margin-bottom: 20px;
}

.find-store .text-group .description {
  margin-bottom: 20px;
}
